
<div class="filtersWrap">
    <div class="filters active">
        <div class="filters__heading">
            <span class="toggle-filters">ФИЛЬТР</span>
            <ul class="sorting">
                <li>
                    <a href="javascript:void(0)">от дешевых к дорогим</a>
                </li>
                <li>
                    <a href="javascript:void(0)">от дорогим к дешевым</a>
                </li>
                <li>
                    <a href="javascript:void(0)">популярние</a>
                </li>
                <li class="active">
                    <a href="javascript:void(0)">новинки</a>
                </li>
            </ul>
            <a href="javascript:void(0)" class="reset-filters">СБРОСИТЬ ФИЛЬТР</a>
        </div>
        <div class="filters__body">
            <div class="flex-blk flex-blk-4">
                <div class="blk">
                    <div class="item flex">
                        <div class="radio-flex">
                            <p>МЕТАЛЛ</p>
                            <div class="radio-btns c-toggle">
                                <label for="gold" class="val1"><span>ЗОЛОТО</span></label>
                                <span class="radio-btns__wrapper">
                                    <input type="radio" name="metal" id="gold" checked>
                                    <input type="radio" name="metal" id="platinum" class="right">
                                    <span aria-hidden="true" class="radio-btns__switcher"></span>
                                </span>
                                <label for="platinum" class="val2"><span>ПЛАТИНА</span></label>
                            </div>
                        </div>
                        <div class="radio-flex">
                            <p>ПРОБА</p>
                            <div class="radio-btns c-toggle">
                                <label for="585" class="val1"><span>585</span></label>
                                <span class="radio-btns__wrapper">
                                    <input type="radio" name="content" id="585" checked>
                                    <input type="radio" name="content" id="750" class="right">
                                    <span aria-hidden="true" class="radio-btns__switcher"></span>
                                </span>
                                <label for="750" class="val2"><span>750</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <p>ДЛЯ КОГО</p>
                        <div class="checkbox-btns flex">
                            <label class="wrap">
                                <input type="checkbox" checked="checked" name="checkbox">
                                <span class="checkmark"></span>
                                <span class="label">Парные</span>
                            </label>
                            <label class="wrap">
                                <input type="checkbox" checked="checked" name="checkbox">
                                <span class="checkmark"></span>
                                <span class="label">Женские</span>
                            </label>
                            <label class="wrap">
                                <input type="checkbox" checked="checked" name="checkbox">
                                <span class="checkmark"></span>
                                <span class="label">Мужские</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <p>ЦВЕТ МЕТАЛЛА</p>
                    <div class="checkbox-btns">
                        <label class="wrap">
                            <input type="checkbox" checked="checked" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label">Белое золото </span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label">Желтое золото</span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label">Розовое золото</span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label">Комбинированное золото</span>
                        </label>
                    </div>
                </div>
                <div class="item">
                    <p>ВСТАВКИ</p>
                    <div class="checkbox-btns">
                        <label class="wrap">
                            <input type="checkbox" checked="checked" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label">Бриллианты</span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label">Чёрные бриллианты</span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label">Цветные камни</span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label">Без вставок</span>
                        </label>
                    </div>
                </div>
                <div class="item">
                    <p>КОЛИЧЕСТВО КАМНЕЙ</p>
                    <div class="checkbox-btns">
                        <label class="wrap">
                            <input type="checkbox" checked="checked" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label">Один центральный камень</span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label">Центральный камень и россыпь</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="flex-blk flex-blk-3">
                <div class="blk">
                    <div class="item">
                        <p>ХАРАКТЕРИСТИКИ МЕЛКИХ КАМНЕЙ</p>
                        <div class="radio-text">
                            <p>ЦВЕТ/ЧИСТОТА</p>
                            <div class="btns">
                                <label class="wrap">
                                    <input type="radio" checked="checked" name="radioBtn">
                                    <span class="label">2/3</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn">
                                    <span class="label">3/4</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn">
                                    <span class="label">4/5</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn">
                                    <span class="label">5/6</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <p>ХАРАКТЕРИСТИКИ ЦЕНТРАЛЬНОГО КАМНЯ</p>
                        <div class="radio-text">
                            <p>ЦВЕТ</p>
                            <div class="btns">
                                <label class="wrap">
                                    <input type="radio" checked="checked" name="radioBtn-2">
                                    <span class="label">E</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn-2">
                                    <span class="label">F</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn-2">
                                    <span class="label">G</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn-2">
                                    <span class="label">H</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn-2">
                                    <span class="label">I</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn-2">
                                    <span class="label">J</span>
                                </label>
                            </div>
                        </div>
                        <div class="radio-text">
                            <p>ЧИСТОТА</p>
                            <div class="btns">
                                <label class="wrap">
                                    <input type="radio" checked="checked" name="radioBtn-3">
                                    <span class="label">VVS2</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn-3">
                                    <span class="label">VS1</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn-3">
                                    <span class="label">VS2</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn-3">
                                    <span class="label">SI1</span>
                                </label>
                                <label class="wrap">
                                    <input type="radio" name="radioBtn-3">
                                    <span class="label">SI2</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blk order2">
                    <div class="info-msg">
                        <p>Стоимость изделий с другими характеристиками 
                                вы можете уточнить обратившись к менеджеру </p>
                    </div>
                    <div class="info-blk">
                        <a href="javascript:void(0)">Узнайте подробнее, что означают
                            характеристики бриллиантов</a>
                    </div>
                </div>
                <div class="item order3">
                    <p>ОГРАНКА ЦЕНТРАЛЬНОГО КАМНЯ</p>
                    <div class="checkbox-imgs">
                        <label class="wrap">
                            <input type="checkbox" checked="checked" name="checkbox">
                            <span class="label"><i class="icon-princess_front"></i></span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label"><i class="icon-marquise_front"></i></span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label"><i class="icon-cushion_front"></i></span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label"><i class="icon-pear_front"></i></span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label"><i class="icon-emerald_front"></i></span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label"><i class="icon-baguette_front"></i></span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label"><i class="icon-round_front"></i></span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label"><i class="icon-assher_front"></i></span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label"><i class="icon-radiant_front"></i></span>
                        </label>
                        <label class="wrap">
                            <input type="checkbox" name="checkbox">
                            <span class="checkmark"></span>
                            <span class="label"><i class="icon-oval_front"></i></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="info-msg center flex-blk-1">
                <p>Цены будут указаны для варианта исполнения
                        в золоте 585 пробы с россыпью бриллиантов
                        2/3 и центральным бриллиантом G/VS1</p>
            </div>
            <div class="apply-filters flex-blk-1">
                <a href="javascript:void(0)" class="reset-filters">СБРОСИТЬ ФИЛЬТР</a>
                <a href="javascript:void(0)">ПРИМЕНИТЬ ФИЛЬТР</a>
            </div>
        </div>
    </div>
</div>
