<footer class="footer">
    <div class="container">
        <div class="flex-wrap">
            <div class="item">
                <a href="index.html" class="footer__logo">
                    <img src="../img/logo-white.png" alt="logo">    
                </a>
                <ul class="footer__socials">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="icon-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="icon-vkontakte"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <span class="title">Юридическая информация</span>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Лицензии и сертификаты</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Реквизиты</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Политика конфиденциальности</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Договор-оферта</a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <span class="title">О BENDES</span>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Для прессы</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Работа в BENDES</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Ювелирное производство</a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <span class="title">Покупателям</span>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Доставка и оплата</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Изготовление на заказ</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Пожизненная гарантия</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Часто задаваемые вопросы</a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <p class="copyright">
                    © BENDES studio 2013 – 2019
                </p>
            </div>
        </div>
    </div>
</footer>