<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="flex-wrap">
                <div class="item">
                    <a href="tel:78009876543" class="header__phone">+7 800 987 65 43</a>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">ПРОИЗВОДСТВО</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">ДОСТАВКА И ОПЛАТА</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">ГАРАНТИЯ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">ИСТОРИИ ЛЮБВИ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">ЖУРНАЛ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="flex-wrap">
                <!-- mobile hamburger -->
                <button class="toggle-menu">
                    <span class="hamburger">
                        <span class="sw-topper"></span>
                        <span class="sw-bottom"></span>
                        <span class="sw-footer"></span>
                    </span>
                </button>
                <!-- end mobile hamburger -->
                
                <a href="index.html" class="header__logo">
                    <img src="../img/logo.png" alt="logotype">      
                </a>

                <!-- desktop menu -->
                <div class="header__nav">
                    <nav>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">ИЗГОТОВЛЕНИЕ НА ЗАКАЗ</a>
                            </li>
                            <li class="rings">
                                <a href="javascript:void(0)">ПОМОЛВКА И СВАДЬБА</a>
                                <ul class="sub-menu">
                                    <li>
                                        <div>
                                            <div class="heading">
                                                <span>ПОМОЛВКА</span>
                                                <a href="catalog.html" class="show-more">ПОКАЗАТЬ ВСЕ</a>
                                            </div>
                                            <div class="body-content">
                                                <span class="title">КОЛИЧЕСТВО БРИЛЛИАНТОВ</span>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">С ОДНИМ БРИЛЛИАНТОМ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ОБСЫПКОЙ ИЗ БРИЛЛИАНТОВ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">КОМПЛЕКТЫ С ОБРУЧАЛЬНЫМ КОЛЬЦОМ</a>
                                                    </li>
                                                </ul>
                                                <span class="title">ВСТАВКИ</span>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">БРИЛЛИАНТЫ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">ЦВЕТНЫЕ КАМНИ</a>
                                                    </li>
                                                </ul>
                                                <span class="title">ОГРАНКА ЦЕНТРАЛЬНОГО КАМНЯ</span>
                                                <ul class="faceting">
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="icon-assher_front"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="icon-baguette_front"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="icon-cushion_front"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="icon-emerald_front"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="icon-marquise_front"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="icon-oval_front"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="icon-round_front"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="icon-pear_front"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="icon-princess_front"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <i class="icon-radiant_front"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="heading">
                                                <span>СВАДЬБА</span>
                                                <a href="catalog.html" class="show-more">ПОКАЗАТЬ ВСЕ</a>
                                            </div>
                                            <div class="body-content">
                                                <span class="title">ДЛЯ КОГО</span>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">ПАРНЫЕ ОБРУЧАЛЬНЫЕ КОЛЬЦА</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">ЖЕНСКИЕ ОБРУЧАЛЬНЫЕ КОЛЬЦА</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">МУЖСКИЕ ОБРУЧАЛЬНЫЕ КОЛЬЦА</a>
                                                    </li>
                                                </ul>
                                                <span class="title">КОЛЛЕКЦИИ</span>
                                                <ul>
                                                    <li>
                                                        <a href="catalog-rings.html">AJOUR</a>
                                                    </li>
                                                    <li>
                                                        <a href="catalog-rings.html">SPIN</a>
                                                    </li>
                                                    <li>
                                                        <a href="catalog-rings.html">DOUBLE</a>
                                                    </li>
                                                    <li>
                                                        <a href="catalog-rings.html">TRIPPLE</a>
                                                    </li>
                                                    <li>
                                                        <a href="catalog-rings.html">CLASSIC</a>
                                                    </li>
                                                </ul>
                                                <span class="title">ВСТАВКИ</span>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">С БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЧЁРНЫМИ БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЦВЕТНЫМИ КАМНЯМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">БЕЗ ВСТАВОК</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="heading">
                                                <span>СМОТРИТЕ ТАКЖЕ</span>
                                            </div>
                                            <div class="body-content">
                                                <a href="javascript:void(0)" class="title">ХАРАКТЕРИСТИКИ КАМНЕЙ</a>
                                                <a href="javascript:void(0)" class="title">КАК ОПРЕДЛИТЬ РАЗМЕР</a>
                                                <a href="javascript:void(0)" class="title">И Т.П.</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="decorations">
                                <a href="javascript:void(0)">УКРАШЕНИЯ</a>
                                <ul class="sub-menu">
                                    <li>
                                        <div>
                                            <div class="heading">
                                                <span>КОЛЬЦА</span>
                                                <a href="catalog.html" class="show-more">ВСЕ КОЛЬЦА</a>
                                            </div>
                                            <div class="body-content">
                                                <span class="title">ДЛЯ КОГО</span>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">ЖЕНСКИЕ КОЛЬЦА</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">МУЖСКИЕ КОЛЬЦА</a>
                                                    </li>
                                                </ul>
                                                <span class="title">ВСТАВКИ</span>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">С БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЧЁРНЫМИ БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЦВЕТНЫМИ КАМНЯМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">БЕЗ ВСТАВОК</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="heading">
                                                <span>ПОДВЕСКИ</span>
                                                <a href="catalog.html" class="show-more">ВСЕ ПОДВЕСКИ</a>
                                            </div>
                                            <div class="body-content">
                                                <span class="title">ВСТАВКИ</span>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">С БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЦВЕТНЫМИ КАМНЯМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЧЁРНЫМИ БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="heading">
                                                <span>СЕРЬГИ</span>
                                                <a href="catalog.html" class="show-more">ВСЕ СЕРЬГИ</a>
                                            </div>
                                            <div class="body-content">
                                                <span class="title">ВСТАВКИ</span>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">С БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЧЁРНЫМИ БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЦВЕТНЫМИ КАМНЯМИ</a>
                                                    </li>
                                                </ul>
                                                <span class="title">СТИЛЬ</span>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">ГВОЗДИКИ (ПУСЕТЫ)</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">КОНГО (КОЛЬЦА)</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">ДЛИННЫЕ (ВИСЯЧИЕ)</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С АНГЛИЙСКИМ ЗАМКОМ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ФРАНЦУЗСКИМ ЗАМКОМ</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="heading">
                                                <span>СМОТРИТЕ ТАКЖЕ</span>
                                            </div>
                                            <div class="body-content">
                                                <a href="javascript:void(0)" class="title">ХАРАКТЕРИСТИКИ КАМНЕЙ</a>
                                                <a href="javascript:void(0)" class="title">КАК ОПРЕДЛИТЬ РАЗМЕР</a>
                                                <a href="javascript:void(0)" class="title">И Т.П.</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="collections">
                                <a href="javascript:void(0)">КОЛЛЕКЦИИ</a>
                                <ul class="sub-menu">
                                    <li>
                                        <div class="flex-wrap">
                                            <a href="catalog-rings.html" class="item" style="background-image: url('../img/russian-seasons.jpg');">
                                                <span>RUSSIAN SEASONS</span>
                                            </a>
                                            <a href="catalog-rings.html" class="item" style="background-image: url('../img/AIR.jpg');">
                                                <span>AIR</span>
                                            </a>
                                            <a href="catalog-rings.html" class="item" style="background-image: url('../img/monpansie.jpg');">
                                                <span>monpansie</span>
                                            </a>
                                            <a href="catalog-rings.html" class="item" style="background-image: url('../img/russian-seasons.jpg');">
                                                <span>RUSSIAN SEASONS</span>
                                            </a>
                                            <a href="catalog-rings.html" class="item" style="background-image: url('../img/AIR.jpg');">
                                                <span>AIR</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">СТУДИИ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- end desktop menu -->

                <!-- mobile menu -->
                <div class="header__menu">
                    <ul class="social__list">
                        <li>
                            <a href="javascript:void(0)" class="open-callBack">
                                <i class="icon-icon3"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="icon-icon1"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="icon-icon4"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="open-contacts">
                                <i class="icon-icon2"></i>
                            </a>
                        </li>
                    </ul>
                    <nav class="mainMenu">
                        <ul>
                            <li>
                                <a href="javascript:void(0)">ИЗГОТОВЛЕНИЕ НА ЗАКАЗ</a>
                            </li>
                            <li class="ring_style1">
                                <a href="javascript:void(0)">ПОМОЛВКА И СВАДЬБА</a>
                                <ul>
                                    <li class="ring_style2">
                                        <a href="javascript:void(0)">ОБРУЧАЛЬНЫЕ КОЛЬЦА</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">ЖЕНСКИЕ</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">МУЖСКИЕ</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ПАРНЫЕ</a>
                                            </li>
                                            <li class="moreList">
                                                <div>
                                                    <span>ВСТАВКИ</span>
                                                    <a href="javascript:void(0)">С БРИЛЛИАНТАМИ</a>
                                                    <a href="javascript:void(0)">С ЧЁРНЫМИ БРИЛЛИАНТАМИ</a>
                                                    <a href="javascript:void(0)">С ЦВЕТНЫМИ КАМНЯМИ</a>
                                                    <a href="javascript:void(0)">БЕЗ ВСТАВОК</a>
                                                    <span>КОЛЛЕКЦИИ</span>
                                                    <a href="javascript:void(0)">AJOUR</a>
                                                    <a href="javascript:void(0)">SPIN</a>
                                                    <a href="javascript:void(0)">DOUBLE</a>
                                                    <a href="javascript:void(0)">TRIPPLE</a>
                                                    <a href="javascript:void(0)">CLASSIC</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ring_style2">
                                        <a href="javascript:void(0)">ПОМОЛВОЧНЫЕ КОЛЬЦА</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">КОЛИЧЕСТВО БРИЛЛИАНТОВ</a>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">С ОДНИМ БРИЛЛИАНТОМ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ОБСЫПКОЙ ИЗ БРИЛЛИАНТОВ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">КОМПЛЕКТЫ С ОБРУЧАЛЬНЫМ КОЛЬЦОМ</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ВСТАВКИ</a>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">БРИЛЛИАНТЫ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">ЦВЕТНЫЕ КАМНИ</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="moreList">
                                        <div>
                                            <span>СМОТРИТЕ ТАКЖЕ</span>
                                            <a href="javascript:void(0)">ГИД ПО БРИЛЛИАНТАМ</a>
                                            <a href="javascript:void(0)">КАК УЗНАТЬ РАЗМЕР</a>
                                            <a href="javascript:void(0)">СЕРТИФИКАЦИЯ GIА</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="decorations">
                                <a href="javascript:void(0)">УКРАШЕНИЯ</a>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">КОЛЬЦА</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">ДЛЯ КОГО</a>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">ЖЕНСКИЕ КОЛЬЦА</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">МУЖСКИЕ КОЛЬЦА</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ВСТАВКИ</a>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">С БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЧЁРНЫМИ БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЦВЕТНЫМИ КАМНЯМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">БЕЗ ВСТАВОК</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">ПОДВЕСКИ</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">ВСТАВКИ</a>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">С БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЦВЕТНЫМИ КАМНЯМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЧЁРНЫМИ БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">СЕРЬГИ</a>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">ВСТАВКИ</a>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">С БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЧЁРНЫМИ БРИЛЛИАНТАМИ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ЦВЕТНЫМИ КАМНЯМИ</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">СТИЛЬ</a>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">ГВОЗДИКИ (ПУСЕТЫ)</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">КОНГО (КОЛЬЦА)</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">ДЛИННЫЕ (ВИСЯЧИЕ)</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С АНГЛИЙСКИМ ЗАМКОМ</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">С ФРАНЦУЗСКИМ ЗАМКОМ</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">КОЛЛЕКЦИИ</a>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">RUSSIAN SEASONS</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">AIR</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">MONPANSIE</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">SOLAR</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">METEORS</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">ПРОИЗВОДСТВО</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">ДОСТАВКА И ОПЛАТА</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">ГАРАНТИЯ</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">ЖУРНАЛ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- end mobile menu -->

                <!-- mobile button -->
                <a href="javascript:void(0)" class="header__button">КОНТАКТЫ</a>
                <div class="header__socials">
                    <ul class="social__list">
                        <li>
                            <a href="javascript:void(0)" class="open-callBack">
                                <i class="icon-icon3"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="icon-icon1"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="icon-icon4"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="open-contacts">
                                <i class="icon-icon2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end mobile button -->
            </div>
        </div>
    </div>
</header>